.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__logo {

  }
  &__app {

  }
}
.footer-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  &__rights {
    font-size: 13px;
  }
}
.footer-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  &__text {
    font-size: 16px;
  }
}


@include hd {
  .footer {
    padding: 0 14px;
  }
}

@include mob {
  .footer-logo {
    width: 50%;
  }
  .footer-app {
    width: 50%;
    &__text {
      font-size: 13px;
    }
  }
}



//BOTTOM NAVIGATION CORDOVA
// .footer-mobile {
//   display: none;
//   &__item {
//     width: 25%;
//     padding: 5px;
//   }
// }
// .footer-mobile-item {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   flex-direction: column;
//   border-right: 1px solid #fff;
//   &__text {
//     font-size: 12px;
//   }
//   &__icon {
//     width: 100%;
//     display: flex;
//     justify-content: center;
//     img {
//       width: 30px;
//     }
//   }
// }

// @include mob {
  // .footer {
  //   display: none;
  // }
  // .footer-mobile {
  //   display: flex;
  // }
// }