.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
.header-left {
  display: flex;
  align-items: center;
  &__logo {
    margin-right: 30px;
  }
}
.header-right {
  // display: flex;
  // align-items: center;
  &__mobile {
    display: none;
  }
}
.header-profile {
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: $primary;
  &:hover {
    background-color: $primary-hov;
  }
  &__avatar {
    margin: 0 10px;
  }
  &__icon {
    transition: 0.3s;
    &_active {
      transform: rotate(180deg);
    }
  }
}
.header-profile-list {
  &__item {
    white-space: nowrap;
  } 
}
.header-logo {
  display: flex;
  width: 50px;
  height: 50px;
}
.header-lang {
  display: flex;
  &__item {
    line-height: 0.8;
    cursor: pointer;
    &:first-child {
      padding-right: 5px;
      border-right: 2px solid #fff;
    }
    &:last-child {
      padding-left: 5px;
    }
    &_active {
      color: $secondary;
    }
  }
}
.header-auth {
  display: flex;
  &__item {
    font-size: 20px;
    margin-right: 15px;
    &:last-child {
      margin-right: 0;
    }
  }
}
.header-mobile {
  display: flex;
  flex-direction: column;
  &__item {
    color: black; 
    transition: 0.3;
    &:hover {
      color: $secondary;
    }
  }
  &__lang {
    margin-top: 5px;
  }
  color: black;
}

@include hd {
  .header {
    padding-left: 14px;
    padding-right: 14px;
  }
}
@include tablet {
  .header-left {
  }
  .header-right {
  }
}

@include mob {
  .header-right {
    &__mobile {
      display: block;
    }
  }
  .header-left {
    &__lang {
      display: none;
    }
  }
  .header-auth {
    display: none;
  }
  .header-logo {
    width: 40px;
    height: 40px;
  }
}