.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
.header-left {
  display: flex;
  align-items: center;
  gap: 40px
}
.header-right {
  display: flex;
  align-items: center;
  gap: 40px;
  &__mobile {
    display: none;
  }
}
.header-logo {
  display: flex;
}
.header-lang {
  display: flex;
  &__item {
    line-height: 0.8;
    cursor: pointer;
    &:first-child {
      padding-right: 5px;
      border-right: 2px solid #fff;
    }
    &:last-child {
      padding-left: 5px;
    }
    &_active {
      color: $secondary;
    }
  }
}
.header-auth {
  display: flex;
  gap: 15px;
}
.header-mobile {
  display: flex;
  flex-direction: column;
  &__item {
    color: black;
    transition: 0.3;
    &:hover {
      color: $secondary;
    }
  }
  color: black;
}

@include hd {
  .header {
    padding-left: 14px;
    padding-right: 14px;
  }
}

@include mob {
  .header {

  }
  .header-right {
    &__create {
      display: none;
    }
    &__mobile {
      display: block;
    }
  }
  .header-lang {
    display: none;
  }
  .header-auth {
    display: none;
  }
}