.office-user {
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  padding: 15px 25px;
  &__info {
    margin-bottom: 20px;
  }
  &__fields {
    margin-bottom: 20px;
  }
}
.office-user-info {
  display: flex;
  align-items: center;
  &__avatar {
    margin-right: 15px;
    cursor: pointer;
  }
}
.office-user-text {
  &__name {
    // font-size: 20px;
    font-weight: bold;
  }
  &__help {
    color: #595959;
    font-size: 15px;
  }
}
.office-user-fields {
  display: flex;
  &__item {
    margin-right: 40px;
    width: 33%;
    &:last-child {
      margin-right: 0;
    }
  }
}

@include mob {
  .office-user {
    border: none;
    padding: 0;
    &__btn {
      width: 100%;
    }
  }
  .office-user-fields {
    &__item {
      width: 50%;
      margin-right: 10px;
    }
  }
}







