.office-chats {
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 5px;
}
.chat-item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  padding: 20px;
  cursor: pointer;
  &:last-child {
    border-bottom: none;
  }
  &__left {
    display: flex;
  }
  &__right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  &__text {
    margin-left: 20px;
  }
  &__name {
    font-weight: bold;
  }
  &__last-msg {
    color: #595959;
  }
  &__new {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $negative;
    color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
}
@include mob {
  .chat-item {
    flex-direction: column;
    padding: 10px;
    &__right {
      margin-top: 10px;
      gap: 10px;
      justify-content: flex-end;
    }
    &__new {
      width: 35px;
      height: 35px;
    }
  }
}