.products {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  column-gap: 100px;
  row-gap: 30px;
  flex-wrap: wrap;
}

@include tablet {
  .products {
    padding: 0 14px;
    grid-template-columns: 1fr 1fr;
  }
}

@include mob {
  .products {
    grid-template-columns: 1fr;
  }
}