.registration-form {
  max-width: 600px;
  margin: 0 auto;
  @include padding;
  margin-top: 40px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  &__title {
    text-align: center;
    font-size: 26px;
    margin-bottom: 20px;
  }
  &__field {
    margin-bottom: 30px;
  }
  &__btn {
    width: 100%;
  }
}
@include mob {
  .registration-form {
    &__title {
      margin-bottom: 10px;
    }
    &__field {
      margin-bottom: 20px;
    }
  }
}