.create {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 1000px;
  margin: 40px auto;
  border-radius: 5px;
  @include padding;
  &__title {
    text-align: center;
    margin-top: 0;
  }
  &__uploader {
    margin-bottom: 40px;
  }
  &__description {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  &__actions {
    margin-top: 20px;
  }
}

.create-uploader {
  display: flex;
  gap: 20px;
  &__main-card {
    background-color: rgb(236, 236, 236);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
    width: 350px;
    height: 250px;
    min-width: 365px;
    min-height: 265px;
    cursor: pointer;
  }
}
.uploader-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 15px;
  &__item {
    cursor: pointer;
    background-color: rgb(236, 236, 236);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: 125px;
    width: 175px;
    border-radius: 5px;
  }
}
.create-specifications {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  &__field {
    width: calc(50% - 10px);
  }
}
.create-price {
  display: flex;
  gap: 20px;
  &__field {
    width: 100%;
  }
  &__toggle {
  }
}
.create-actions {
  display: flex;
  gap: 20px;
}