.registration {
  &__form {
    margin: 40px auto 0;
  }
  &__otp {
    margin: 40px auto 0;
  }
}

@include tablet {
  .registration {
    &__form {
      margin: 20px auto;
    }
    &__otp {
      margin: 20px auto;
    }
  }
}

@include mob {
  .registration {
    &__form {
      margin: 0 auto;
    }
    &__otp {
      margin: 0 auto;
    }
  }
}