$primary       : rgb(136,177,75);
$primary-hov   : rgba(136,177,75, 0.8);
$primary-act   : rgba(136,177,75, 0.6);
$secondary     : rgb(242, 177, 56);
$secondary-hov : rgba(242, 177, 56, 0.8);
$secondary-act : rgba(242, 177, 56, 0.6);
$accent        : #9C27B0;

$dark          : #1D1D1D;

$positive      : #21BA45;
$negative      : rgb(193, 0, 21);
$negative-hov  : rgba(193, 0, 21, 0.8);
$negative-act  : rgba(193, 0, 21, 0.6);
$info          : #31CCEC;
$warning       : #F2C037;
// ******** QUASAR GLOBAL STYLES START ********

.q-field--filled.q-field--readonly .q-field__control:before {
  border-bottom: none;
}
@include mob {
  .q-carousel__control.q-carousel__arrow {
    display: none;
  }
  .q-carousel__control.q-carousel__navigation {
    display: none;
  }
}

// ******** QUASAR GLOBAL STYLES FINISH ********

body {
  font-size: 17px;
}

a {
  text-decoration: none;
  color: white
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.page__title {
  text-align: center;
  font-size: 30px;
  margin: 0;
  line-height: 1;
  margin: 25px 0;
}
.lock-body {
  overflow-y: hidden;
}
.route_active {
  color: $secondary !important;
}

// ******** ANIMATIONS START ********
.slide-enter-active {
  transition: all .3s ease-out;
}

.slide-leave-active {
  transition: all .3s ease-out;
}

.slide-enter-from,
.slide-leave-to {
  transform: translateX(100%);
}
// ******** ANIMATIONS FINISH ********
@include mob {
  .page__title {
    font-size: 26px;
  }
}
